{% extends 'base.html' %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/quotes.css')}}">
{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
	    <div class="container">
            <blockquote class="quote-card">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              </p>
        
              <cite>
                Lorem I psum
              </cite>
            </blockquote>
        
     

        
        </div>
	</div>
</div>

{% endblock %}