{% extends 'base.html' %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/quotes.css')}}">
{% endblock %}
{% block content %}

<div class="container-fluid">
	<div class="row">
	    <div class="container">Available Categories:
            {%for category in categories%}
            <a class="" href="#"><span class="badge badge-secondary">{{category.name}}</span> </a>
            
            {%endfor%}
            {%for pitch in pitches%}
            <blockquote class="quote-card">
              <p>
                {{pitch.content}} 
              </p>
        
              <cite> <span><p>Title:{{pitch.title}}</p></span>
                <span><a href="{{ url_for('main.upvote',id=pitch.id) }}"><i class="fas fa-thumbs-up"></i></a></span>
                <span>{{pitch.votes}} </span>
                <span><a href="{{ url_for('main.downvote',id=pitch.id) }}"><i class="fas fa-thumbs-down"></i></a></span>
              </cite>
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{pitch.id}}" role="button" aria-expanded="false" aria-controls="collapseExample{{pitch.id}}">
                  Add Comment
                </a>
               
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseComments{{pitch.id}}" aria-expanded="false" aria-controls="collapseComments">
                  view Comments
                </button>
              </p>
              <div class="collapse" id="collapseExample{{pitch.id}}">
                <div class="card card-body">
                  <form action="{{ url_for('main.comment',id=pitch.id) }}" method="get">
                    <input style="padding: 3px;margin: 3px;" placeholder="Write comment" class="form-control" type="text" name="comment">
                    <div class="row">
                      <div class="col"></div>
                      <div class="col">
                        <button class="form-control" type="submit">Send&nbsp;&nbsp;&nbsp;<i class="fas fa-paper-plane"></i></button>

                      </div>
                      <div class="col"></div>
                    </div>
                  </form>                
                </div>
              </div>
              <div class="collapse" id="collapseComments{{pitch.id}}">
                <div class="card card-body">
                  <ul class="list-group">

                  {%for comment in comments%}
                  
                    
                  {%if comment.pitch==pitch.id%}
                  <li class="list-group-item"> {{comment.text}}</li>

                 
                  {%endif%}
                  {%endfor%}
                </ul>

                </div>
              </div>
            </blockquote>
            {%endfor%}

           
     

        
        </div>
	</div>
</div>

{% endblock %}