{% extends 'base.html' %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/quotes.css')}}">
{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
	    <div class="container">Available Categories:
            {%for category in categories%}
            <a class="" href="#"><span class="badge badge-secondary">{{category.name}}</span> </a>
            
            {%endfor%}
            {%for pitch in pitches%}
            <blockquote class="quote-card">
              <p>
                {{pitch.content}} 
              </p>
        
              <cite> <span><p>Title:{{pitch.title}}</p></span>
                <span><a href="{{ url_for('main.upvote') }}"><i class="fas fa-thumbs-up"></i></a></span>
                <span>{{pitch.votes}} </span>
                <span><a href="{{ url_for('main.downvote') }}"><i class="fas fa-thumbs-down"></i></a></span>
              </cite>
            </blockquote>
            {%endfor%}

           
     

        
        </div>
	</div>
</div>

{% endblock %}